{% extends 'layouts/base.html' %}

{% block content %}
<!-- Contact section-->
<section class="page-section bg-info h-100" id="contact">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class="mt-0">Restons en contact</h2>
                <hr class="divider my-4" />
                <p class="mb-5">Face à la situation exceptionnelle, nous restons à vos côtés. Toutes les mesures que nous mettons en œuvre pour continuer à répondre au mieux à vos attentes sont ici.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 ml-auto text-center mb-5 mb-lg-0">
                <i class="fas fa-phone fa-3x mb-3"></i>
                <div>+33 1 11 11 11 11</div>
            </div>
            <div class="col-lg-4 mr-auto text-center">
                <i class="fas fa-envelope fa-3x mb-3"></i>
                <a class="d-block" href="mailto:contact@purebeurre.com">contact@purebeurre.com</a>
            </div>
        </div>
    </div>
</section>
{% endblock content %}