{% extends "layouts/base.html" %}

{% load static %}
{% block content %}
<section class="page-section bg-dark text-white" style="background-image: url({% static 'images/remy/ratatouille-11.jpg' %}); background-position: center; background-size: cover;"
background-repeat: no-repeat;
}">
    <div class="container text-center" >
        <h2 class="text-dark mb-4 bg-white">{{ product.product_name }}</h2>
        <div class="row">
            <p class="col-4 offset-4 mt-auto mb-auto text-dark bg-white">{{ user.username }}</p>
        </div>
    </div>
</section>
<h3 class="text-center my-5">{{ user.email }}</h3>
<section class="page-section p-0 h-50">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-3">
                <div class="thumbnail text-center">
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}