{% load static %}
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="/">
            <img class="img-thumbnail" src="{% static 'logos/logo_pur_beurre.png' %}" alt="colette" />
            Pure beurre
        </a>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto my-2 my-lg-0">
                <form class="form-inline" action="" method="get">
                    {% csrf_token %}
                    <div class="form-group">
                        {% for field in form %}
                            {{ field }}
                        {% endfor %}
                    </div>
                </form>
                {% if user.is_authenticated %}
                    {% if user.is_superuser %}
                        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/admin"><i class="fa fa-unlock-alt fa-2x" aria-hidden="true"></i></a></li>
                    {% endif %}
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#"><i class="fas fa-user fa-2x"></i></a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#"><i class="fas fa-carrot fa-2x"></i></a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="{% url 'logout' %}"><i class="fas fa-sign-out-alt fa-2x"></i></a></li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="{% url 'login' %}">Se connecter/S'inscrire</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>