{% load static %}
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="/">
            <img class="img-thumbnail" src="{% static 'logos/logo_pur_beurre.png' %}" alt="colette" />
            Pure beurre
        </a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto my-2 my-lg-0">
                {% if request.resolver_match.url_name == "home" %}
                    <form class="form-inline" action="{% url 'resources:products_search' %}" method="GET">
                        {% csrf_token %}
                        {% for field in form %}
                            <div class="form-group">
                                {{ field }}
                            </div>
                        {% endfor %}
                    </form>
                {% endif %}
                {% if user.is_authenticated %}
                    {% if user.is_superuser %}
                        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/admin"><i class="fa fa-user-shield fa-2x" aria-hidden="true"></i></a></li>
                    {% endif %}
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#"><i class="fas fa-user fa-2x"></i></a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="{% url 'resources:products_saved' %}"><i class="fas fa-carrot fa-2x"></i></a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="{% url 'core:logout' %}"><i class="fas fa-sign-out-alt fa-2x"></i></a></li>
                {% else %}
                    <li class="nav-item">
                        {% if request.resolver_match.url_name != "login" %}
                            <a class="nav-link js-scroll-trigger" href="{% url 'core:login' %}">Se connecter</a>
                        {% endif %}
                        {% if request.resolver_match.url_name != "signup" %}
                            <a class="nav-link js-scroll-trigger" href="{% url 'core:signup' %}">S'inscrire</a>
                        {% endif %}
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
