{% extends "layouts/base.html" %}

{% load static %}
{% block content %}
<section class="page-section bg-dark text-white" style="background-image: url('{{ product.img_url }}'); background-position: center center;">
    <div class="container text-center" >
        <h2 class="text-dark mb-4 bg-white">{{ product.product_name }}</h2>
        <div class="row">
            <div class="col-4">
                <img src="{% static 'images/nutriscore-grades/nutriscore-'|add:product.nutrition_grades|add:'.svg' %}" alt="nutriscore-{{ product.nutrition_grades }}" />
            </div>
            <p class="col-4 offset-4 mt-auto mb-auto text-dark bg-white">Repères nutritionnels pour 100g</p>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <a class="btn btn-primary" href="{{ product.url }}">Voir la fiche d'OpenFoodFacts</a>
            </div>
        </div>
    </div>
</section>
<h3 class="text-center my-5">Vous pouvez remplacer cet aliment par:</h3>
<section class="page-section p-0">
    <div class="container">
        <div class="row">
                {% for sub in substitutes %}
                    <div class="col-md-4 mb-3">
                        <div class="thumbnail text-center">
                            <a class="d-block border" href="{% url 'resources:products_list' sub.pk %}">
                                <img
                                    {% if not sub.img_url%}
                                        src="{% static 'images/divers/no-product-image.png' %}"
                                    {% else %}
                                        src="{{ sub.img_url }}"
                                    {% endif %}
                                    alt="{{ sub.product_name }}"
                                    style="height:250px; max-width: 300px;"
                                />
                            </a>
                            <div class="caption text-center">
                                <p>{{ sub.product_name | truncatechars:25 }}</p>
                                {% if user.is_authenticated %}
                                    <form class="row" method="POST" action="{% url 'resources:products_save' %}">
                                        {% csrf_token %}
                                        <input type="hidden" name="product_id" value="{{ sub.pk }}" />
                                        <button class="btn btn-link col-6 offset-3" type="submit">
                                            <i class="fa fa-save text-primary" aria-hidden="true"></i>
                                            Sauvegarder
                                        </button>
                                    </form>
                                {% endif %}
                                {% if sub.nutrition_grades == 'a' %}
                                    <p class="position-absolute sticky-top bg-success font-weight-bold border p-2 rounded-circle" style="right: 15px; border-width:3px !important;">{{ sub.nutrition_grades|upper }}</p>
                                {% elif sub.nutrition_grades == 'b' %}
                                    <p class="position-absolute sticky-top font-weight-bold border p-2 rounded-circle" style="right: 15px; border-width:3px !important; background-color: #85bb2f;">{{ sub.nutrition_grades|upper }}</p>
                                {% elif sub.nutrition_grades == 'c' %}
                                    <p class="position-absolute sticky-top bg-warning font-weight-bold border p-2 rounded-circle" style="right: 15px; border-width:3px !important;">{{ sub.nutrition_grades|upper }}</p>
                                {% elif sub.nutrition_grades == 'd' %}
                                    <p class="position-absolute sticky-top bg-primary font-weight-bold border p-2 rounded-circle" style="right: 15px; border-width:3px !important;">{{ sub.nutrition_grades|upper }}</p>
                                {% else %}
                                    <p class="position-absolute sticky-top bg-danger font-weight-bold border p-2 rounded-circle" style="right: 15px; border-width:3px !important;">{{ sub.nutrition_grades|upper }}</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
            {% empty %}
                <p>Désolé nous n'avons pas de produits à proposer pour remplacer celui la.</p>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock content %}