{% extends "layouts/base.html" %}

{% load static %}
{% block content %}
<section class="page-section bg-dark text-white">
    <div class="container-fluid">
        <div class="row">
            <div class="col-4">
                <div class="list-group" id="list-tab" role="tablist">
                    {% for obj in object_list %}
                        <a class="list-group-item list-group-item-action" id="list-{{obj.code}}-list" data-toggle="list" href="#list-{{ obj.code }}" role="tab" aria-controls="{{ obj.code }}">
                            {{ obj.product_name }}
                        </a>
                    {% endfor %}
                </div>
            </div>
            <div class="col-8">
                <div class="tab-content" id="nav-tabContent">
                    {% for obj in object_list %}
                        <div class="tab-pane fade" id="list-{{ obj.code }}" role="tabpanel" aria-labelledby="list-{{ obj.code }}-list">
                            <div class="card" style="width: 36rem;">
                                <img class="card-img-top" src="{{ obj.img_url }}" alt="{{ obj.product_name }}">
                                <div class="card-body">
                                    <h5 class="card-title">{{ obj.product_name }}</h5>
                                    <p class="card-text text-dark">Code: {{ obj.code }}</p>
                                    <p class="card-text text-dark">Teneur en sel: {{ obj.salt }}</p>
                                    <p class="card-text text-dark">Teneur en graisse: {{ obj.fat }}</p>
                                    <p class="card-text text-dark">Teneur en sucre: {{ obj.sugars }}</p>
                                    <p class="card-text text-dark">Teneur en graisse saturée: {{ obj.saturated_fat }}</p>
                                    <p class="card-text text-dark">Où le trouver le produit: {{ obj.warehouse }}</p>
                                    <p class="card-text text-dark">Allergens: {{ obj.allergens }}</p>
                                    <p class="card-text text-dark">
                                        <img src="{% static 'images/nutriscore-grades/nutriscore-'|add:obj.nutrition_grades|add:'.svg' %}" alt="nutriscore-{{ obj.nutrition_grades }}" />
                                    </p>
                                    <a href="{{ obj.url }}" class="btn btn-primary">Lien vers le produit</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}